/* CSS reset */
/* based upon: normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 16px;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
code,
kbd,
pre,
samp {
  font-family: 'andale mono', 'monotype.com', 'lucida console', monospace;
  font-size: 1em;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"],
input.searchfield {
  -webkit-appearance: textfield;
}
input[type="search"]:focus::-webkit-input-placeholder,
input.searchfield:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input.searchfield::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input.searchfield::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.75em;
  border: 1px solid #e6e6e6;
}
table th,
table caption {
  background: #e6e6e6;
  padding: 5px 10px;
}
table td {
  padding: 5px 10px;
}
table tr:nth-child(odd) {
  background: #fff;
}
table tr:nth-child(even) {
  background: #fcfcfc;
}
::-moz-selection {
  background: #4998CC;
  color: #fff;
}
::selection {
  background: #4998CC;
  color: #fff;
}
iframe,
object,
embed {
  max-width: 100%;
}
.fluid-width-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0;
}
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}
@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@-o-viewport {
  zoom: 1;
  width: extend-to-zoom;
}
@viewport {
  zoom: 1;
  width: extend-to-zoom;
}
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}
/* Typography */
body {
  color: #666666;
  font: normal 106.25%/1.55 'Roboto Slab', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
h1 {
  font-size: 354.163125%;
  margin-bottom: 0.875em;
}
h2 {
  font-size: 212.5%;
  margin-bottom: 0.875em;
}
h3 {
  font-size: 141.66312499999998%;
  margin-bottom: 0.875em;
}
h4 {
  font-size: 123.961875%;
  margin-bottom: 0.875em;
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 106.25%;
  margin-bottom: 0.875em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
h6 {
  font-size: 106.25%;
  margin-bottom: 0.875em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
  font-family: 'Open Sans', 'Trebuchet MS', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  line-height: 1.1667;
  margin-top: 0;
  font-weight: normal;
}
hr {
  margin: 1.75em 0;
  border: 1px solid #e6e6e6;
}
p,
pre {
  margin: 0 0 1.75em 0;
}
ol,
ul {
  padding: 0 0 0 1.5rem;
  margin: 0 0 1.75em 0;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin-bottom: 0;
}
dl dt {
  font-weight: bold;
}
pre {
  background: #333333;
  color: #2ECC71;
  padding: 20px;
  display: block;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
q {
  background: #f2f2f2;
}
code {
  font-family: monospace;
}
blockquote {
  background: #f2f2f2;
  padding: 10px 20px;
  margin: 0 0 1.75em 0;
  position: relative;
  border-left: 3px solid #4998CC;
  overflow: hidden;
}
blockquote p {
  color: #999999;
}
blockquote p:last-child {
  margin-bottom: 0;
}
address {
  margin-bottom: 1.75em;
}
nav li.icon a:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f107';
}
nav li.icon a[href*="behance.net"]:before,
nav li.icon a[href*="bloglovin.com"]:before {
  content: '\f471';
}
nav li.icon a[href*="soundcloud.com"]:before {
  content: '\f426';
}
nav li.icon a[href*="codepen.com"]:before {
  content: '\f216';
}
nav li.icon a[href*="dribbble.com"]:before {
  content: '\f201';
}
nav li.icon a[href*="dropbox.com"]:before {
  content: '\f225';
}
nav li.icon a[href*="facebook.com"]:before {
  content: '\f204';
}
nav li.icon a[href*="/feed/"]:before,
nav li.icon a[href*=".rss"]:before {
  content: '\f413';
}
nav li.icon a[href*="flickr.com"]:before {
  content: '\f211';
}
nav li.icon a[href*="plus.google.com"]:before {
  content: '\f206';
}
nav li.icon a[href*="github.com"]:before {
  content: '\f200';
}
nav li.icon a[href*="instagram.com"]:before {
  content: '\f215';
}
nav li.icon a[href*="linkedin.com"]:before {
  content: '\f207';
}
nav li.icon a[href*="/contact/"]:before,
nav li.icon a[href^="mailto:"]:before {
  content: '\f410';
}
nav li.icon a[href*="pinterest.com"]:before {
  content: '\f209';
}
nav li.icon a[href*="polldaddy.com"]:before {
  content: '\f217';
}
nav li.icon a[href*="path.com"]:before {
  content: '\f219';
}
nav li.icon a[href*="getpocket.com"]:before {
  content: '\f224';
}
nav li.icon a[href*="reddit.com"]:before {
  content: '\f222';
}
nav li.icon a[href^="skype:"]:before {
  content: '\f220';
}
nav li.icon a[href*="spotify.com"]:before {
  content: '\f515';
}
nav li.icon a[href*="stumbleupon.com"]:before {
  content: '\f223';
}
nav li.icon a[href*="tumblr.com"]:before {
  content: '\f214';
}
nav li.icon a[href*="twitch.com"]:before {
  content: '\f516';
}
nav li.icon a[href*="twitter.com"]:before {
  content: '\f202';
}
nav li.icon a[href*="vine.co"]:before {
  content: '\f104';
}
nav li.icon a[href*="vimeo.com"]:before {
  content: '\f212';
}
nav li.icon a[href*="wordpress.com"]:before,
nav li.icon a[href*="wordpress.org"]:before {
  content: '\f205';
}
nav li.icon a[href*="youtube.com"]:before {
  content: '\f213';
}
nav li.icon a:before {
  vertical-align: middle;
  margin-right: 0.1em;
}
img {
  max-width: 100%;
  height: auto;
}
/* Forms */
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input.text,
textarea,
input.settings-input {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #e6e6e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  max-width: 100%;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input.text:focus,
textarea:focus,
input.settings-input:focus {
  outline-color: #4998CC;
  border-color: #4998CC;
}
select {
  box-sizing: border-box;
  max-width: 100%;
}
textarea {
  width: 100%;
  height: 150px;
}
input .text {
  width: 200px;
}
input .long-text {
  width: 350px;
}
input.radio {
  margin-right: 5px;
}
input[type=submit],
button[type=submit] {
  padding: 0 15px;
  font-size: 0.9em;
  padding: 5px 15px;
  line-height: 1.75em;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #4998CC;
  display: inline-block;
  text-decoration: none;
  background-color: #4d97c8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#65a8d4), to(#3587bc));
  background-image: -webkit-linear-gradient(top, #65a8d4, #3587bc);
  background-image: linear-gradient(to bottom, #65a8d4, #3587bc);
  border-color: #3587bc;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
}
input[type=submit]:hover,
button[type=submit]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
input[type=submit]:hover,
button[type=submit]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
textarea.error,
input.error {
  border-color: #E67E22;
  margin: 0;
}
label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
label.error {
  color: #E67E22;
  margin-bottom: 5px;
}
label em {
  color: #cccccc;
}
legend {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
fieldset {
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 0.875em;
}
fieldset ul.radio {
  margin: 0;
}
/* WordPress specific stuff */
.wp-caption {
  background: #f2f2f2;
  padding: 0.5em;
  text-align: center;
  max-width: 100%;
  margin: 0 0 1.75em 0;
  clear: both;
  box-sizing: border-box;
}
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
  padding: 0.5em;
  box-sizing: border-box;
}
.wp-caption .wp-caption-text {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #666666;
  font-size: 0.8em;
}
.wp-caption img {
  float: none;
  display: block;
  margin: 0 auto 0.5em auto;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
#wp-calendar {
  width: 100%;
  margin: 0;
}
#wp-calendar th,
#wp-calendar caption {
  text-align: center;
  background: #fff;
}
#wp-calendar th {
  border-bottom: 1px solid #f2f2f2;
}
#wp-calendar th,
#wp-calendar td {
  text-align: center;
  padding: 0.5em 0.25em;
}
#wp-calendar caption {
  background: transparent;
  font-weight: bold;
  padding: 0.25em 0;
  text-transform: uppercase;
}
#wp-calendar #today {
  font-weight: bold;
}
/* --- COMMON WORDPRESS SETTINGS --- */
/* standard WordPress image classes */
.alignleft,
.alignright,
.aligncenter {
  display: block;
  padding: 0;
  box-sizing: border-box;
}
blockquote.alignleft,
blockquote.alignright,
blockquote.aligncenter {
  max-width: 40%;
  padding: 0.875em;
}
.alignleft {
  float: left;
  margin: 0.4375em 40px 0.875em 0;
}
.alignright {
  float: right;
  margin: 0.4375em 0 0.875em 40px;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em auto;
}
.alignright .alignright,
.alignleft .alignleft,
.aligncenter .aligncenter {
  padding: 0 0.5em;
  border: 0;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.textleft {
  text-align: left;
}
.invisible {
  position: absolute;
  left: -1000em;
}
img#wpstats {
  position: absolute;
  left: -100px;
  bottom: 100px;
}
.infinite-scroll .pagination {
  display: none;
}
.infinite-scroll #infinite-handle {
  clear: both;
  padding: 1.75em 40px;
  margin-bottom: 1.75em;
  text-align: center;
}
.infinite-scroll #infinite-handle span {
  padding: 0 15px;
  font-size: 0.9em;
  padding: 5px 15px;
  line-height: 1.75em;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #4998CC;
  display: inline-block;
  text-decoration: none;
  background-color: #4d97c8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#65a8d4), to(#3587bc));
  background-image: -webkit-linear-gradient(top, #65a8d4, #3587bc);
  background-image: linear-gradient(to bottom, #65a8d4, #3587bc);
  border-color: #3587bc;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.infinite-scroll #infinite-handle span:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
.infinite-scroll #infinite-handle span:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
.infinite-scroll #infinite-handle span:before {
  display: none;
}
.infinite-scroll #infinite-handle span:after {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f420';
  margin-left: 1em;
}
.infinite-scroll #infinite-handle span:focus,
.infinite-scroll #infinite-handle span:hover {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.infinite-scroll #infinite-handle span button {
  border: none;
  background: transparent;
}
.infinite-scroll .infinite-loader {
  clear: both;
  padding: 1.75em;
}
.infinite-scroll .infinite-loader .spinner {
  margin: 0 auto;
}
.infinite-scroll.neverending footer#footer {
  display: none;
}
.infinite-scroll.infinity-end.neverending footer#footer {
  display: block;
}
.widget {
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.widget h3.widgettitle:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  margin-right: 0.25em;
}
.widget select {
  width: 100%;
}
.widget iframe {
  max-width: 100%;
  min-width: 0 !important;
}
.widget .wp-playlist,
.widget .mejs-container,
.widget .jetpack-video-wrapper {
  margin: 0;
}
.widget.milestone-widget .milestone-content {
  margin: 0 auto;
}
.widget.widget_author_grid ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  *zoom: 1;
}
.widget.widget_author_grid ul:before,
.widget.widget_author_grid ul:after {
  content: "";
  display: table;
}
.widget.widget_author_grid ul:after {
  clear: both;
}
.widget.widget_author_grid ul li {
  float: left;
  max-width: 50%;
}
.widget.widget_author_grid ul img {
  display: block;
}
.widget.widget_nav_menu ul {
  list-style-type: none;
  padding: 0;
}
.widget.widget_nav_menu ul ul {
  padding-left: 20px;
}
.widget.widget_nav_menu ul ul li:last-child {
  padding: 0;
}
.widget.widget_recent_comments table.recentcommentsavatar {
  width: 100%;
  margin: 0;
  border: none;
}
.widget.widget_recent_comments table.recentcommentsavatar td {
  padding-bottom: 0.875em;
}
.widget.widget_recent_comments table.recentcommentsavatar td.recentcommentsavatarend,
.widget.widget_recent_comments table.recentcommentsavatar td.recentcommentsavatartop {
  padding: auto;
}
.widget.widget_recent_comments table.recentcommentsavatar td.recentcommentsavatarend a,
.widget.widget_recent_comments table.recentcommentsavatar td.recentcommentsavatartop a {
  display: block;
  line-height: 0;
}
.widget.widget_recent_comments table.recentcommentsavatar tr,
.widget.widget_recent_comments table.recentcommentsavatar tr:nth-child(odd) {
  background: transparent;
}
.widget.widget_jp_blogs_i_follow ol {
  list-style-type: none;
  padding: 0;
}
.widget.widget_flickr #flickr_badge_uber_wrapper,
.widget.widget_flickr #flickr_badge_wrapper {
  width: 100%;
  margin: 0;
}
.widget.widget_flickr #flickr_badge_uber_wrapper td,
.widget.widget_flickr #flickr_badge_wrapper td {
  padding: 0.5em;
}
.widget.widget_flickr #flickr_badge_uber_wrapper td a,
.widget.widget_flickr #flickr_badge_wrapper td a {
  color: #4998CC;
}
.widget.widget_flickr #flickr_badge_uber_wrapper td a:focus,
.widget.widget_flickr #flickr_badge_wrapper td a:focus,
.widget.widget_flickr #flickr_badge_uber_wrapper td a:hover,
.widget.widget_flickr #flickr_badge_wrapper td a:hover {
  text-decoration: underline;
}
.widget.widget_flickr #flickr_badge_wrapper {
  border-color: #e6e6e6;
}
.widget.widget_image img {
  margin: 0;
}
.widget.widget_image .wp-caption {
  max-width: 100%;
  margin-bottom: 0;
}
.widget.widget_image .wp-caption .wp-caption-text {
  font-size: 1em;
}
.widget.widget_authors li {
  clear: both;
  margin-bottom: 1.75em;
}
.widget.widget_authors li li {
  margin-bottom: 0;
}
.widget.widget_authors img {
  margin: 0 auto 0.875em auto;
}
.widget.widget_authors ul {
  list-style-type: none;
  margin: 0 0 1.75em 0;
  padding: 0;
}
.widget.widget_authors ul strong {
  clear: both;
  display: block;
  font-size: 141.66312499999998%;
  text-align: center;
  margin-bottom: 0.875em;
}
.widget.widget_authors ul ul {
  list-style-type: disc;
  margin: 0 0 1.75em 0;
  padding: 0 0 0 1.5rem;
  clear: both;
}
.widget.widget_authors ul img {
  display: block;
}
.widget.widget_rss ul {
  padding: 0;
}
.widget.widget_rss li {
  list-style-type: none;
  margin-bottom: 1.75em;
}
.widget.widget_rss li .rss-date {
  color: #cccccc;
}
.widget.widget_rss li a.rsswidget {
  font-weight: bold;
}
.widget.widget_search {
  font-size: 1em;
}
.widget.widget_blog_subscription input[type=text],
.widget.widget_blog_subscription input[type=submit],
.widget.widget_blog_subscription p:last-child {
  margin: 0;
}
.widget.widget_wpcom_social_media_icons_widget li {
  margin-right: 0.875em;
}
.widget.widget_wpcom_social_media_icons_widget li a {
  font-size: 32px;
}
.widget.widget_recent_comments h3.widgettitle:before {
  content: '\f300';
}
.widget.widget_recent_entries h3.widgettitle:before {
  content: '\f444';
}
.widget.widget_nav_menu h3.widgettitle:before {
  content: '\f419';
}
.widget.widget_pages h3.widgettitle:before {
  content: '\f443';
}
.widget.widget_categories h3.widgettitle:before {
  content: '\f301';
}
.widget.widget_archive h3.widgettitle:before,
.widget.widget_calendar h3.widgettitle:before {
  content: '\f307';
}
.widget.widget_meta h3.widgettitle:before {
  content: '\f445';
}
.widget.widget_tag_cloud h3.widgettitle:before,
.widget.wp_widget_tag_cloud h3.widgettitle:before {
  content: '\f302';
}
.widget.widget_wpcom_instagram_widget h3.widgettitle:before {
  content: '\f215';
}
.widget.widget_twitter_timeline h3.widgettitle:before {
  content: '\f202';
}
.widget.widget_links h3.widgettitle:before {
  content: '\f107';
}
.widget.widget-grofile h3.widgettitle:before,
.widget.widget_gravatar h3.widgettitle:before {
  content: '\f304';
}
.widget.widget_jetpack_posts_i_like h3.widgettitle:before {
  content: '\f461';
}
.widget.widget_rss_links h3.widgettitle:before {
  content: '\f413';
}
div#jp-relatedposts,
#jp-post-flair {
  clear: both;
  margin-bottom: 1.75em;
}
.post-password-required form {
  margin-bottom: 1.75em;
  padding: 20px;
  background: #f2f2f2;
}
.post-password-required form input[type=password] {
  width: 100%;
}
.post-password-required form input[type=submit] {
  min-width: 30%;
}
.post-password-required form p:last-child {
  margin-bottom: 0;
}
a.post-edit-link {
  display: block;
  margin-bottom: 1.75em;
  padding: 0.5em;
  text-align: center;
  background: #f2f2f2;
  clear: both;
}
a.post-edit-link:focus,
a.post-edit-link:hover {
  background: #e6e6e6;
  text-decoration: none;
}
a.post-edit-link:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f411';
  margin-right: 0.5em;
}
a.post-edit-link:before:focus,
a.post-edit-link:before:hover {
  text-decoration: none;
}
/* Common Styles */
.content-comments h3#comments:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  vertical-align: bottom;
  content: '\f108';
  margin-right: 20px;
  float: left;
}
.container .video-player,
.container .embed-vimeo {
  margin: 0 0 1.75em 0;
}
.screen-reader-shortcut {
  padding: 15px 23px 14px;
  background: #f1f1f1;
  color: #0073aa;
  max-width: 200px;
  position: absolute;
  left: -300px;
  top: 7px;
  word-wrap: normal !important;
  text-align: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}
.screen-reader-shortcut:focus {
  left: 6px;
}
.main div.pd-rating,
.main div#jp-relatedposts,
.main div.sharedaddy {
  margin-bottom: 1.75em;
}
.main div.pd-rating h3.jp-relatedposts-headline,
.main div#jp-relatedposts h3.jp-relatedposts-headline,
.main div.sharedaddy h3.jp-relatedposts-headline,
.main div.pd-rating h3.sd-title,
.main div#jp-relatedposts h3.sd-title,
.main div.sharedaddy h3.sd-title {
  font-size: 85%;
  font-family: 'Open Sans', 'Trebuchet MS', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0.5em 0;
}
.main div.pd-rating div.jp-relatedposts-items,
.main div#jp-relatedposts div.jp-relatedposts-items,
.main div.sharedaddy div.jp-relatedposts-items,
.main div.pd-rating div.sd-block,
.main div#jp-relatedposts div.sd-block,
.main div.sharedaddy div.sd-block {
  padding: 0.875em 0 -4.125em 0;
  border-color: rgba(0, 0, 0, 0.05);
}
.main .contributor {
  *zoom: 1;
  margin-bottom: 1.75em;
}
.main .contributor:before,
.main .contributor:after {
  content: "";
  display: table;
}
.main .contributor:after {
  clear: both;
}
.main .contributor .avatar {
  float: left;
  margin: 0 20px 0 0;
}
.main .contributor a.contributor-posts-link {
  padding: 0 15px;
  font-size: 0.9em;
  padding: 5px 15px;
  line-height: 1.75em;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #4998CC;
  display: inline-block;
  text-decoration: none;
  background-color: #4d97c8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#65a8d4), to(#3587bc));
  background-image: -webkit-linear-gradient(top, #65a8d4, #3587bc);
  background-image: linear-gradient(to bottom, #65a8d4, #3587bc);
  border-color: #3587bc;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
}
.main .contributor a.contributor-posts-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
.main .contributor a.contributor-posts-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
/* PollDaddy Embed */
.PDS_Poll {
  max-width: 100%;
}
.PDS_Poll .pds-box {
  max-width: 100%;
}
.PDS_Poll label {
  text-transform: none;
}
.PDS_Poll .pds-input-label {
  max-width: 100%;
  width: auto;
  float: none;
  display: inline;
}
.PDS_Poll .pds-answer-input {
  display: inline;
  float: none;
}
.PDS_Poll input {
  margin-bottom: 0;
}
/* Social menu */
.menu-social-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-social-links ul li {
  display: inline-block;
}
.menu-social-links ul li a:before {
  margin: 0 0.25em;
}
.menu-social-links ul li a:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f107';
}
.menu-social-links ul li a[href*="behance.net"]:before,
.menu-social-links ul li a[href*="bloglovin.com"]:before {
  content: '\f471';
}
.menu-social-links ul li a[href*="soundcloud.com"]:before {
  content: '\f426';
}
.menu-social-links ul li a[href*="codepen.com"]:before {
  content: '\f216';
}
.menu-social-links ul li a[href*="dribbble.com"]:before {
  content: '\f201';
}
.menu-social-links ul li a[href*="dropbox.com"]:before {
  content: '\f225';
}
.menu-social-links ul li a[href*="facebook.com"]:before {
  content: '\f204';
}
.menu-social-links ul li a[href*="/feed/"]:before,
.menu-social-links ul li a[href*=".rss"]:before {
  content: '\f413';
}
.menu-social-links ul li a[href*="flickr.com"]:before {
  content: '\f211';
}
.menu-social-links ul li a[href*="plus.google.com"]:before {
  content: '\f206';
}
.menu-social-links ul li a[href*="github.com"]:before {
  content: '\f200';
}
.menu-social-links ul li a[href*="instagram.com"]:before {
  content: '\f215';
}
.menu-social-links ul li a[href*="linkedin.com"]:before {
  content: '\f207';
}
.menu-social-links ul li a[href*="/contact/"]:before,
.menu-social-links ul li a[href^="mailto:"]:before {
  content: '\f410';
}
.menu-social-links ul li a[href*="pinterest.com"]:before {
  content: '\f209';
}
.menu-social-links ul li a[href*="polldaddy.com"]:before {
  content: '\f217';
}
.menu-social-links ul li a[href*="path.com"]:before {
  content: '\f219';
}
.menu-social-links ul li a[href*="getpocket.com"]:before {
  content: '\f224';
}
.menu-social-links ul li a[href*="reddit.com"]:before {
  content: '\f222';
}
.menu-social-links ul li a[href^="skype:"]:before {
  content: '\f220';
}
.menu-social-links ul li a[href*="spotify.com"]:before {
  content: '\f515';
}
.menu-social-links ul li a[href*="stumbleupon.com"]:before {
  content: '\f223';
}
.menu-social-links ul li a[href*="tumblr.com"]:before {
  content: '\f214';
}
.menu-social-links ul li a[href*="twitch.com"]:before {
  content: '\f516';
}
.menu-social-links ul li a[href*="twitter.com"]:before {
  content: '\f202';
}
.menu-social-links ul li a[href*="vine.co"]:before {
  content: '\f104';
}
.menu-social-links ul li a[href*="vimeo.com"]:before {
  content: '\f212';
}
.menu-social-links ul li a[href*="wordpress.com"]:before,
.menu-social-links ul li a[href*="wordpress.org"]:before {
  content: '\f205';
}
.menu-social-links ul li a[href*="youtube.com"]:before {
  content: '\f213';
}
.menu-social-links ul li a:after {
  display: none;
}
.jetpack-video-wrapper {
  margin-bottom: 1.75em;
}
div.jetpack-testimonial-shortcode {
  margin-bottom: 1.75em;
  *zoom: 1;
}
div.jetpack-testimonial-shortcode:before,
div.jetpack-testimonial-shortcode:after {
  content: "";
  display: table;
}
div.jetpack-testimonial-shortcode:after {
  clear: both;
}
div.jetpack-testimonial-shortcode .testimonial-entry {
  box-sizing: border-box;
  margin: 0;
  padding: 1.75em 40px;
}
div.jetpack-testimonial-shortcode .testimonial-entry-content {
  margin: 0 0 0.875em 0;
}
div.jetpack-testimonial-shortcode .testimonial-entry-title {
  display: inline-block;
}
div.jetpack-testimonial-shortcode .testimonial-featured-image {
  float: left;
}
div.jetpack-testimonial-shortcode .testimonial-featured-image img {
  max-height: 1.75em;
  width: auto;
  margin-right: 13.33333333px;
}
div.jetpack-testimonial-shortcode.column-2 .testimonial-entry {
  width: 50%;
}
div.jetpack-testimonial-shortcode.column-2 .testimonial-entry:nth-of-type( 2n + 1 ) {
  clear: both;
}
div.jetpack-testimonial-shortcode.column-3 .testimonial-entry {
  width: 33.3%;
}
div.jetpack-testimonial-shortcode.column-3 .testimonial-entry:nth-of-type( 3n + 1 ) {
  clear: both;
}
div.jetpack-testimonial-shortcode.column-4 .testimonial-entry {
  width: 25%;
}
div.jetpack-testimonial-shortcode.column-4 .testimonial-entry:nth-of-type( 4n + 1 ) {
  clear: both;
}
.multi-author-false .post-meta-data .byline {
  display: none;
}
.multi-author-false.singular .contributor {
  display: none;
}
.screen-reader-text,
.screen-reader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}
.screen-reader-text:focus,
.screen-reader:focus {
  padding: 15px 23px 14px;
  background: #f1f1f1;
  color: #0073aa;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  left: 5px;
  top: 5px;
  clip: auto !important;
  display: block;
  height: auto;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
.entry-breadcrumbs {
  margin-bottom: 0.875em;
}
.entry-breadcrumbs a {
  font-weight: bold;
}
.entry-breadcrumbs a:focus,
.entry-breadcrumbs a:hover {
  text-decoration: none;
}
.entry-breadcrumbs a:after {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 8px;
  vertical-align: bottom;
  content: '\f501';
  margin: 0 1rem;
  opacity: 0.5;
}
.wp-playlist,
.mejs-container {
  margin: 0 0 1.75em 0;
}
iframe[src*="8tracks.com"],
iframe[src*="bandcamp.com"],
iframe[src*="dailymotion.com"],
iframe[src*="itchi.io"],
iframe[src*="slideshare.net"],
iframe[src*="soundcloud.com"],
iframe[src*="viddler.com"],
iframe[src*="videopress.com"],
iframe.twitter-tweet,
iframe.twitter-follow-button {
  display: block;
  margin: 0 auto 1.75em auto;
  max-width: 100%;
}
iframe.instagram-media {
  display: block;
  margin: 0 auto 1.75em auto !important;
}
object {
  display: block;
  margin: 0 auto 1.75em auto !important;
}
form.contact-form div label.grunion-field-label {
  font-weight: bold;
}
form.contact-form div label.grunion-radio-label input,
form.contact-form div label.grunion-checkbox-multiple-label input {
  margin-bottom: 0;
}
form.contact-form div label.grunion-radio-label:last-of-type,
form.contact-form div label.grunion-checkbox-multiple-label:last-of-type {
  margin-bottom: 1.75em;
}
form.contact-form div.clear-form {
  display: none;
}
.woocommerce h1 {
  font-weight: bold;
}
.woocommerce h3,
.woocommerce h2 {
  font-size: 106.25%;
  font-weight: bold;
}
.woocommerce .woocommerce-breadcrumb a {
  font-weight: bold;
}
.woocommerce span.onsale {
  z-index: 1;
}
.woocommerce .quantity .qty {
  width: 5em;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  padding: 0.875em 20px;
  margin-bottom: 1.75em;
  line-height: 1.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2.625em;
  padding: 0 20px;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #4998CC;
  display: inline-block;
  text-decoration: none;
  background-color: #4d97c8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#65a8d4), to(#3587bc));
  background-image: -webkit-linear-gradient(top, #65a8d4, #3587bc);
  background-image: linear-gradient(to bottom, #65a8d4, #3587bc);
  border-color: #3587bc;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2.625em;
  padding: 0 20px;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #4998CC;
  display: inline-block;
  text-decoration: none;
  background-color: #4d97c8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#65a8d4), to(#3587bc));
  background-image: -webkit-linear-gradient(top, #65a8d4, #3587bc);
  background-image: linear-gradient(to bottom, #65a8d4, #3587bc);
  border-color: #3587bc;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-radius: 15px 15px 0 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
  display: none;
}
.woocommerce .products {
  clear: both;
}
.woocommerce table.shop_table {
  border: none;
}
.woocommerce table.shop_table td {
  border: none;
}
.woocommerce-cart-button {
  float: right;
}
.woocommerce-cart-button .cart-contents .amount {
  font-weight: bold;
}
.woocommerce-cart-button .cart-contents .count {
  opacity: 0.5;
}
.woocommerce-cart-button .cart-contents:hover {
  text-decoration: none;
}
.woocommerce-cart-button .cart-contents:hover .amount {
  text-decoration: underline;
}
iframe.wp-embedded-content {
  max-width: 99.5% !important;
}
.postnav {
  margin-bottom: 1.75em;
  *zoom: 1;
}
.postnav:before,
.postnav:after {
  content: "";
  display: table;
}
.postnav:after {
  clear: both;
}
.postnav .next,
.postnav .prev {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.postnav .next {
  text-align: right;
  float: right;
}
ol.commentlist {
  list-style-type: none;
  margin: 0 0 1.75em 0;
  padding: 0;
}
ol.commentlist li.trackback,
ol.commentlist li.pingback {
  padding: 1.75em 0;
}
ol.commentlist li.trackback .comment-body:before,
ol.commentlist li.pingback .comment-body:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f107';
}
ol.commentlist li.comment,
ol.commentlist li.trackback,
ol.commentlist li.pingback {
  *zoom: 1;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  list-style-type: none;
}
ol.commentlist li.comment:before,
ol.commentlist li.trackback:before,
ol.commentlist li.pingback:before,
ol.commentlist li.comment:after,
ol.commentlist li.trackback:after,
ol.commentlist li.pingback:after {
  content: "";
  display: table;
}
ol.commentlist li.comment:after,
ol.commentlist li.trackback:after,
ol.commentlist li.pingback:after {
  clear: both;
}
ol.commentlist li.comment article,
ol.commentlist li.trackback article,
ol.commentlist li.pingback article {
  padding: 20px 0;
}
ol.commentlist li.comment .says,
ol.commentlist li.trackback .says,
ol.commentlist li.pingback .says {
  display: none;
}
ol.commentlist li.comment #respond,
ol.commentlist li.trackback #respond,
ol.commentlist li.pingback #respond {
  position: relative;
  margin: 0;
}
ol.commentlist li.comment #respond #cancel-comment-reply-link,
ol.commentlist li.trackback #respond #cancel-comment-reply-link,
ol.commentlist li.pingback #respond #cancel-comment-reply-link {
  position: absolute;
  right: 0;
  padding: 0 15px;
  font-size: 0.9em;
  padding: 5px 15px;
  line-height: 1.75em;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #b3b3b3;
  display: inline-block;
  text-decoration: none;
  background-color: #b3b3b3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(#a1a1a1));
  background-image: -webkit-linear-gradient(top, #c4c4c4, #a1a1a1);
  background-image: linear-gradient(to bottom, #c4c4c4, #a1a1a1);
  border-color: #a1a1a1;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
}
ol.commentlist li.comment #respond #cancel-comment-reply-link:hover,
ol.commentlist li.trackback #respond #cancel-comment-reply-link:hover,
ol.commentlist li.pingback #respond #cancel-comment-reply-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#8f8f8f));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #8f8f8f);
  background-image: linear-gradient(to bottom, #b3b3b3, #8f8f8f);
  border-color: #8f8f8f;
}
ol.commentlist li.comment #respond #cancel-comment-reply-link:hover,
ol.commentlist li.trackback #respond #cancel-comment-reply-link:hover,
ol.commentlist li.pingback #respond #cancel-comment-reply-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#8f8f8f));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #8f8f8f);
  background-image: linear-gradient(to bottom, #b3b3b3, #8f8f8f);
  border-color: #8f8f8f;
}
ol.commentlist li.comment .avatar,
ol.commentlist li.trackback .avatar,
ol.commentlist li.pingback .avatar {
  float: left;
  margin: 0 10px 0 0;
}
ol.commentlist li.comment .reply,
ol.commentlist li.trackback .reply,
ol.commentlist li.pingback .reply {
  position: absolute;
  top: 20px;
  right: 0;
}
ol.commentlist li.comment .reply a,
ol.commentlist li.trackback .reply a,
ol.commentlist li.pingback .reply a {
  padding: 0 15px;
  font-size: 0.9em;
  padding: 5px 15px;
  line-height: 1.75em;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #4998CC;
  display: inline-block;
  text-decoration: none;
  background-color: #4d97c8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#65a8d4), to(#3587bc));
  background-image: -webkit-linear-gradient(top, #65a8d4, #3587bc);
  background-image: linear-gradient(to bottom, #65a8d4, #3587bc);
  border-color: #3587bc;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
  display: block;
}
ol.commentlist li.comment .reply a:hover,
ol.commentlist li.trackback .reply a:hover,
ol.commentlist li.pingback .reply a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
ol.commentlist li.comment .reply a:hover,
ol.commentlist li.trackback .reply a:hover,
ol.commentlist li.pingback .reply a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3b85b6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4998CC), to(#2d73a1));
  background-image: -webkit-linear-gradient(top, #4998CC, #2d73a1);
  background-image: linear-gradient(to bottom, #4998CC, #2d73a1);
  border-color: #2d73a1;
}
ol.commentlist li.comment.bypostauthor,
ol.commentlist li.trackback.bypostauthor,
ol.commentlist li.pingback.bypostauthor {
  border: none;
}
ol.commentlist li.comment.bypostauthor > article,
ol.commentlist li.trackback.bypostauthor > article,
ol.commentlist li.pingback.bypostauthor > article {
  padding: 20px;
  background: #fff;
  border-left: 2px solid #4998CC;
  position: relative;
}
ol.commentlist li.comment.bypostauthor .reply,
ol.commentlist li.trackback.bypostauthor .reply,
ol.commentlist li.pingback.bypostauthor .reply {
  right: 20px;
}
ol.commentlist li.comment .comment-content,
ol.commentlist li.trackback .comment-content,
ol.commentlist li.pingback .comment-content {
  clear: both;
}
ol.commentlist li.comment .comment-content p:last-child,
ol.commentlist li.trackback .comment-content p:last-child,
ol.commentlist li.pingback .comment-content p:last-child {
  margin-bottom: 0;
}
ol.commentlist li.comment .edit-link,
ol.commentlist li.trackback .edit-link,
ol.commentlist li.pingback .edit-link {
  margin-left: 10px;
}
ol.commentlist li.comment .edit-link a,
ol.commentlist li.trackback .edit-link a,
ol.commentlist li.pingback .edit-link a {
  padding: 2px 5px;
  background: #b3b3b3;
  color: #fff;
  border-radius: 3px;
}
ol.commentlist li.comment .edit-link a:hover,
ol.commentlist li.trackback .edit-link a:hover,
ol.commentlist li.pingback .edit-link a:hover {
  background: #808080;
}
ol.commentlist li.comment .comment-meta,
ol.commentlist li.trackback .comment-meta,
ol.commentlist li.pingback .comment-meta {
  margin-bottom: 0.875em;
}
ol.commentlist li.comment .comment-meta .comment-metadata,
ol.commentlist li.trackback .comment-meta .comment-metadata,
ol.commentlist li.pingback .comment-meta .comment-metadata {
  font-size: 0.8em;
}
ol.commentlist li.comment .comment-meta .comment-metadata a,
ol.commentlist li.trackback .comment-meta .comment-metadata a,
ol.commentlist li.pingback .comment-meta .comment-metadata a {
  color: #b3b3b3;
}
ol.commentlist li.comment .comment-meta .comment-metadata .edit-link a,
ol.commentlist li.trackback .comment-meta .comment-metadata .edit-link a,
ol.commentlist li.pingback .comment-meta .comment-metadata .edit-link a {
  color: #fff;
}
ol.commentlist li.comment:last-child,
ol.commentlist li.trackback:last-child,
ol.commentlist li.pingback:last-child,
ol.commentlist li.comment li:last-child,
ol.commentlist li.trackback li:last-child,
ol.commentlist li.pingback li:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
ol.commentlist ul.children {
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
  clear: both;
  position: relative;
}
ol.commentlist ul.children li:last-child {
  margin: 0;
}
ol.commentlist img.avatar {
  border-radius: 50%;
}
#respond {
  *zoom: 1;
  clear: both;
  margin-bottom: 1.75em;
  background: #fff;
}
#respond:before,
#respond:after {
  content: "";
  display: table;
}
#respond:after {
  clear: both;
}
#respond h3#reply-title:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  vertical-align: bottom;
  content: '\f300';
  line-height: 0.8;
  margin-right: 5px;
}
#respond label {
  float: left;
  min-width: 150px;
  line-height: 3;
  font-size: 0.7em;
}
#respond p.comment-form-author,
#respond p.comment-form-email,
#respond p.comment-form-url {
  margin: 0;
}
#respond p.comment-form-cookies-consent,
#respond p.post-subscription-form,
#respond p.comment-subscription-form {
  margin-bottom: 0;
  clear: both;
}
#respond p.comment-form-cookies-consent input,
#respond p.post-subscription-form input,
#respond p.comment-subscription-form input {
  display: inline-block;
  margin-right: 20px;
}
#respond p.comment-form-cookies-consent label,
#respond p.post-subscription-form label,
#respond p.comment-subscription-form label {
  float: none;
  display: inline-block;
}
#respond p.logged-in-as {
  font-size: 0.9em;
  color: #b3b3b3;
  text-transform: uppercase;
  margin-bottom: 0.875em;
}
#respond p.logged-in-as a {
  color: #999999;
}
#respond p.logged-in-as a:hover {
  color: #4998CC;
}
#respond p.comment-form-author,
#respond p.comment-form-email,
#respond p.comment-form-url,
#respond p.comment-form-comment {
  margin: 0;
}
#respond p.form-allowed-tags {
  font-size: 0.7em;
}
#respond p.form-submit {
  margin: 0;
}
#respond p.form-submit #submit {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2.625em;
  padding: 0 20px;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #27AE60;
  display: inline-block;
  text-decoration: none;
  background-color: #27ae60;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2ecb70), to(#209150));
  background-image: -webkit-linear-gradient(top, #2ecb70, #209150);
  background-image: linear-gradient(to bottom, #2ecb70, #209150);
  border-color: #209150;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
}
#respond p.form-submit #submit:hover {
  color: #fff;
  text-decoration: none;
  background-color: #209150;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#27AE60), to(#1a7440));
  background-image: -webkit-linear-gradient(top, #27AE60, #1a7440);
  background-image: linear-gradient(to bottom, #27AE60, #1a7440);
  border-color: #1a7440;
}
.gallery {
  padding: 0;
  margin-bottom: 1.75em;
}
.gallery dl {
  float: left;
  text-align: center;
  margin: 0 0 0.875em 0;
}
.gallery dl dt {
  padding: 0 20px;
  *zoom: 1;
}
.gallery dl dt:before,
.gallery dl dt:after {
  content: "";
  display: table;
}
.gallery dl dt:after {
  clear: both;
}
.gallery dl dd {
  padding: 0 20px;
  margin: 0;
  font-size: 0.8em;
}
.gallery dl img {
  max-width: 100%;
  height: auto;
  opacity: 0.9;
  display: inline-block;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.gallery dl img:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.gallery a.image {
  float: none;
}
.gallery .gallery-caption {
  font-style: italic;
}
.gallery.gallery-columns-1 dl {
  width: 100%;
}
.gallery.gallery-columns-2 dl {
  width: 50%;
}
.gallery.gallery-columns-3 dl {
  width: 33.33%;
}
.gallery.gallery-columns-4 dl {
  width: 25%;
}
.gallery.gallery-columns-5 dl {
  width: 20%;
}
.gallery.gallery-columns-6 dl {
  width: 16.666%;
}
.gallery.gallery-columns-7 dl {
  width: 14.28%;
}
.gallery.gallery-columns-8 dl {
  width: 12.5%;
}
.gallery.gallery-columns-9 dl {
  width: 11.11%;
}
.gallery.gallery-columns-10 dl {
  width: 10%;
}
/* Theme Styles */
body {
  background-color: #fff;
}
body.slide {
  overflow: hidden;
}
#aside a,
.main a {
  color: #4998CC;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#aside a:hover,
.main a:hover {
  color: #317eb1;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#aside a.post-edit-link:hover,
.main a.post-edit-link:hover {
  text-decoration: none;
}
#aside .reply a,
.main .reply a {
  color: #fff;
}
#aside .reply a:hover,
.main .reply a:hover {
  color: #fff;
}
.container {
  position: relative;
  left: 0px;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}
.container.slide {
  left: 300px;
}
.container.slide .slide_overlay {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  z-index: 999;
}
#aside {
  width: 30%;
  box-sizing: border-box;
  border: 0;
  border-spacing: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  height: 100%;
  background: transparent;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}
#aside.slide {
  left: 300px;
}
#aside #cover-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: bottom;
  position: relative;
}
#aside #cover-image .avatar {
  margin-bottom: 10px;
  border: 4px solid #fff;
  line-height: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 15px rgba(0,0,0,0.6);
}
#aside #cover-image .social_container {
  right: 0;
  left: 0;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
#aside #cover-image .social_container #menu-social-links {
  padding: 0 20px;
  font-size: 20px;
  margin: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}
#aside #cover-image .social_container #menu-social-links li {
  background: white;
}
#aside #cover-image .social_container #menu-social-links li a {
  display: block;
  padding: 6px;
  text-decoration: none;
}
#aside #cover-image .social_container #menu-social-links li a:hover {
  text-decoration: none;
}
#aside #cover-image .social_container .social_links a {
  display: inline-block;
  background: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid #f2f2f2;
  border-right: none;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}
#aside #cover-image .social_container .social_links a span {
  display: none;
}
#aside #cover-image .social_container .social_links a:last-child {
  border: 1px solid #f2f2f2;
}
#aside #cover-image .social_container .social_links a:hover {
  background-color: #4998CC;
  border-color: #4998CC;
  color: #fff;
  text-decoration: none;
}
#aside #cover-image .social_container .social_links a.social_link_facebook:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f203';
}
#aside #cover-image .social_container .social_links a.social_link_twitter:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f202';
}
#aside #cover-image .social_container .social_links a.social_link_tumblr:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f214';
}
#aside #cover-image .social_container .social_links a.social_link_linkedin:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f207';
}
#aside #cover-image .social_container .social_links a.social_link_google_plus:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  content: '\f218';
}
#main {
  width: 70%;
  max-width: 940px;
  padding: 30px 5% 0 5%;
  margin-left: 30%;
  box-sizing: border-box;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  font-weight: 700;
}
#main header {
  color: #4998CC;
  margin-bottom: 1.75em;
  padding: 0 20px;
}
#main header h1 {
  font-size: 123.961875%;
  margin-bottom: 0.875em;
  margin-bottom: 0;
}
#main header h1 a {
  display: block;
  text-decoration: none;
  color: #cccccc;
  opacity: 0.8;
}
#main header h1 a:hover {
  text-decoration: underline;
  opacity: 1;
}
#main header h2.description {
  font-size: 85%;
  margin-bottom: 0.875em;
  margin: 0;
  color: #cccccc;
  opacity: 0.8;
}
#main h1.pagetitle {
  font-size: 283.336875%;
  margin-bottom: 0.875em;
  margin-bottom: 1.75em / 2;
}
#main .page-header {
  padding: 20px;
}
#main article {
  *zoom: 1;
  clear: both;
  padding: 20px;
  background: #fff;
}
#main article:before,
#main article:after {
  content: "";
  display: table;
}
#main article:after {
  clear: both;
}
#main article .entry,
#main article .excerpt {
  overflow: hidden;
}
#main article.post,
#main article.page {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1.75em;
  padding-bottom: 1.75em;
}
#main article h1,
#main article h2 {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#main article h1 {
  font-size: 283.336875%;
  margin-bottom: 0.875em;
}
#main article h2 {
  font-size: 212.5%;
  margin-bottom: 0.875em;
}
#main article h1,
#main article h2 {
  margin-bottom: 0.4375em;
}
#main article h1 a,
#main article h2 a {
  text-decoration: none;
}
#main article .excerpt {
  *zoom: 1;
}
#main article .excerpt:before,
#main article .excerpt:after {
  content: "";
  display: table;
}
#main article .excerpt:after {
  clear: both;
}
#main article .excerpt p {
  margin-bottom: 0.875em;
}
#main article .postmetadata {
  font-size: 85%;
  margin-bottom: 0.875em;
  color: #999999;
  margin-bottom: 3.5em;
}
#main article .postmetadata a.reading-time {
  color: #999999;
}
#main article .tags,
#main article .categories {
  font-size: 85%;
  margin-bottom: 0.875em;
  clear: both;
  margin-bottom: 1.75em / 2;
}
#main article .tags:before,
#main article .categories:before {
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  margin-right: 2px;
}
#main article .tags a,
#main article .categories a {
  background: #f2f2f2;
  margin: 0 4px 2px 4px;
  padding: 0px 6px;
  border-radius: 15px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#main article .tags a:hover,
#main article .categories a:hover {
  background: #4998CC;
  color: #fff;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
}
#main article .tags:before {
  content: '\f302';
}
#main article .categories:before {
  content: '\f301';
}
#main article.sticky {
  background: #e8f2f9;
  border: none;
  position: relative;
}
#main article.sticky:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  right: 20px;
  border: 10px solid #4998CC;
  border-bottom-color: transparent;
  border-top-width: 21px;
  border-radius: 3px 3px 0 0;
}
#main article p:last-child {
  margin-bottom: 0;
}
#main article a.thumbnail {
  float: left;
  margin: 0 20px 10px 0;
}
#main article a.thumbnail img {
  border-radius: 130px;
}
#main .postnav {
  padding: 20px;
  background: #fff;
  font-size: 85%;
  margin-bottom: 0.875em;
  *zoom: 1;
  margin-bottom: 1.75em;
}
#main .postnav:before,
#main .postnav:after {
  content: "";
  display: table;
}
#main .postnav:after {
  clear: both;
}
#main .postnav .prev,
#main .postnav .next {
  width: 50%;
}
#main .postnav .prev {
  float: left;
}
#main .postnav .prev a {
  padding: 0 15px;
  font-size: 0.9em;
  padding: 5px 15px;
  line-height: 1.75em;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #b3b3b3;
  display: inline-block;
  text-decoration: none;
  background-color: #b3b3b3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(#a1a1a1));
  background-image: -webkit-linear-gradient(top, #c4c4c4, #a1a1a1);
  background-image: linear-gradient(to bottom, #c4c4c4, #a1a1a1);
  border-color: #a1a1a1;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
}
#main .postnav .prev a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#8f8f8f));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #8f8f8f);
  background-image: linear-gradient(to bottom, #b3b3b3, #8f8f8f);
  border-color: #8f8f8f;
}
#main .postnav .prev a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#8f8f8f));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #8f8f8f);
  background-image: linear-gradient(to bottom, #b3b3b3, #8f8f8f);
  border-color: #8f8f8f;
}
#main .postnav .prev a:before {
  content: "\2190\0020";
}
#main .postnav .next {
  float: right;
  text-align: right;
}
#main .postnav .next a {
  padding: 0 15px;
  font-size: 0.9em;
  padding: 5px 15px;
  line-height: 1.75em;
  color: #fff;
  border-radius: 1.75em;
  border: 1px solid #b3b3b3;
  display: inline-block;
  text-decoration: none;
  background-color: #b3b3b3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(#a1a1a1));
  background-image: -webkit-linear-gradient(top, #c4c4c4, #a1a1a1);
  background-image: linear-gradient(to bottom, #c4c4c4, #a1a1a1);
  border-color: #a1a1a1;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
}
#main .postnav .next a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#8f8f8f));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #8f8f8f);
  background-image: linear-gradient(to bottom, #b3b3b3, #8f8f8f);
  border-color: #8f8f8f;
}
#main .postnav .next a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#8f8f8f));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #8f8f8f);
  background-image: linear-gradient(to bottom, #b3b3b3, #8f8f8f);
  border-color: #8f8f8f;
}
#main .postnav .next a:after {
  content: " \2192";
}
#main .pagination,
#main .archive-pagination {
  text-align: center;
  margin: 1.75em 0;
  clear: both;
}
#main .pagination .nav-links,
#main .archive-pagination .nav-links {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}
#main .pagination a,
#main .archive-pagination a,
#main .pagination span.current,
#main .archive-pagination span.current,
#main .pagination span.dots,
#main .archive-pagination span.dots {
  padding: 6px 15px;
}
#main .pagination a,
#main .archive-pagination a {
  background: #fff;
}
#main .pagination a:hover,
#main .archive-pagination a:hover {
  background: #f2f2f2;
}
#main .pagination span.current,
#main .archive-pagination span.current {
  background: #4998CC;
  border-color: #4998CC;
  color: #fff;
}
#main p.page-404 {
  padding: 20px;
  background: #4998CC;
  color: #fff;
}
#main #comments-container {
  padding: 20px;
  background: #fff;
}
#main #comments-container li article {
  padding: 15px 0;
}
#main #comments-container #respond {
  margin-top: 1.75em;
  padding: 0;
}
#main #comments-container .bypostauthor article {
  padding-left: 15px;
  padding-right: 0;
}
#main #respond {
  padding: 20px;
  margin-bottom: 3.5em;
}
#main .writer {
  padding: 20px 0;
  margin-bottom: 1.75em;
  margin-top: 1.75em;
  border-top: 4px solid #4998CC;
  border-bottom: 1px solid #f2f2f2;
  *zoom: 1;
}
#main .writer:before,
#main .writer:after {
  content: "";
  display: table;
}
#main .writer:after {
  clear: both;
}
#main .writer .avatar {
  border-radius: 50%;
  float: left;
  margin: 0 20px 0 0;
}
#main .writer p:last-child {
  margin-bottom: 0;
}
#main .contributor .avatar {
  border-radius: 100px;
}
#main #footer {
  padding: 1.75em 0.875em;
  font-size: 85%;
  margin-bottom: 0.875em;
  clear: both;
  background: #f2f2f2;
  text-align: center;
}
.single-post #main > article,
.page #main > article {
  border: none;
  padding-bottom: 0;
}
nav.menu {
  position: fixed;
  height: 100%;
  width: 0;
  background: #4998CC;
  box-shadow: inset -6px 0 20px rgba(0, 0, 30, 0.1);
  overflow: auto;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
nav.menu.slide {
  width: 300px;
}
nav.menu form.searchform {
  border-bottom: 1px solid #71afd7;
}
nav.menu a.menu-close {
  display: block;
  text-align: center;
  color: #85badd;
  background: #317eb1;
  margin: 10px 20px 6px 20px;
  border-radius: 5px;
  padding: 6px;
  font-size: 85%;
  margin-bottom: 0.875em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.menu a.menu-close:hover {
  background: #2c709d;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.menu ul.menu-wrap {
  font-size: 106.25%;
  margin-bottom: 0.875em;
}
nav.menu ul {
  margin: 0;
  padding: 0;
}
nav.menu ul li {
  list-style-type: none;
  border-bottom: 1px solid #71afd7;
  position: relative;
}
nav.menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.menu ul li a:hover {
  background-color: #71afd7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.menu ul li a.menu-has-children {
  padding-right: 40px;
}
nav.menu ul li a.menu-expand {
  width: 2em;
  line-height: 2em;
  background: #317eb1;
  text-align: center;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0;
  cursor: pointer;
}
nav.menu ul li a.menu-expand:hover {
  background-color: #2c709d;
}
nav.menu ul li li {
  padding-left: 15px;
  border: none;
}
.searchform {
  *zoom: 1;
  padding: 10px 20px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}
.searchform:before,
.searchform:after {
  content: "";
  display: table;
}
.searchform:after {
  clear: both;
}
.searchform fieldset {
  position: relative;
  padding: 0;
  border: none;
}
.searchform input.searchfield {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.searchform button.searchsubmit {
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  color: #317eb1;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 1.6em;
  height: 1.6em;
}
.searchform button.searchsubmit:hover {
  color: #2c709d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page-main-nav {
  position: fixed;
  left: 20px;
  top: 10px;
  z-index: 99;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
.page-main-nav.slide {
  left: 320px;
}
.page-main-nav a {
  display: block;
  background: #fff;
  color: #4998CC;
  -webkit-font-smoothing: antialiased;
  font-family: 'Genericons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  vertical-align: bottom;
  padding: 2px 8px;
  float: left;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}
.page-main-nav a span {
  text-transform: uppercase;
  font-family: 'Roboto Slab', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  letter-spacing: 0.15em;
  font-weight: bold;
  float: left;
}
.page-main-nav a:before {
  float: left;
  font-size: 16px;
}
.page-main-nav a:last-child {
  border-left: none;
}
.page-main-nav a.link-open-nav:before {
  content: '\f419';
  margin-right: 7px;
}
.page-main-nav a.link-home span {
  display: none;
}
.page-main-nav a.link-home:before {
  content: '\f409';
}
.page-main-nav a:hover {
  color: #fff;
  background: #4998CC;
  text-decoration: none;
  border-color: #4998CC;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.col-sidebar {
  font-size: 85%;
  margin-bottom: 0.875em;
  padding: 3.5em 0;
  border-top: 4px solid #4998CC;
  background: #fff;
  margin-bottom: 3.5em;
}
.col-sidebar section.widget {
  width: 49.5%;
  float: left;
  padding: 0 20px;
  margin-bottom: 3.5em;
  box-sizing: border-box;
  overflow: hidden;
}
.col-sidebar section.widget img {
  max-width: 100%;
  height: auto;
}
.col-sidebar section.widget ul:last-child {
  margin-bottom: 0;
}
.col-sidebar section.widget.widget_search {
  background: #f2f2f2;
  padding: 0;
}
.col-sidebar section.widget.widget_search h3 {
  padding: 20px 20px 0 20px;
  margin: 0;
}
.col-sidebar section.widget.widget_search form {
  padding: 20px;
}
/* Adjustment for demo site and logged in users */
.admin-bar .page-main-nav {
  top: 42px;
}
.admin-bar #aside,
.admin-bar .menu-wrap {
  padding-bottom: 28px;
}
.demo-site .page-main-nav {
  top: 104px;
}
.demo-site #aside,
.demo-site .menu-wrap {
  padding-bottom: 80px;
}
.demo-site.logged-in .page-main-nav {
  top: 120px;
}
.demo-site.logged-in #aside,
.demo-site.logged-in .menu-wrap {
  padding-bottom: 112px;
}
/* Responsive Styles */
@media only screen and (max-width: 899px) {
  .admin-bar #aside {
    padding-bottom: 0;
  }
  #aside {
    float: none;
    width: 100%;
    position: relative;
    height: 400px;
    border: none;
  }
  #aside.slide_right {
    left: 0;
  }
  #aside header {
    padding: 15px 5%;
  }
  #aside header h1 a {
    text-align: left;
  }
  #aside header h2.description {
    text-align: left;
  }
  #aside header .social_container {
    position: static;
    float: 0;
    right: 0;
  }
  #aside header .social_container .social_links {
    float: auto;
    position: absolute;
    top: 20px;
    right: 5%;
    margin: 0;
  }
  #main {
    float: none;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
  }
  #main header {
    text-align: center;
  }
  #cover-image {
    height: 100px;
  }
}
@media only screen and (max-width: 799px) {
  .admin-bar .page-main-nav {
    top: 56px;
  }
  .demo-site.logged-in nav.menu.slide {
    padding-top: 18px;
  }
  .demo-site.logged-in .page-main-nav {
    top: 135px;
  }
}
@media only screen and (max-width: 699px) {
  #main article h1,
  #main article h2 {
    font-size: 212.5%;
    margin-bottom: 0.875em;
  }
  #aside {
    height: 250px;
  }
  #aside header {
    padding: 15px 5% 5px 5%;
  }
  #aside header .social_container {
    height: auto;
    float: none;
    margin: 5px 0 0 0;
  }
  #aside header .social_container .social_links {
    float: none;
    position: static;
    top: auto;
    right: auto;
  }
  #aside header .social_container .social_links a,
  #aside header .social_container .social_links a:last-child {
    border: none;
  }
  #main,
  nav.menu {
    font-size: 92.5%;
  }
  nav.menu {
    top: 0;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 499px) {
  nav.menu.slide_right {
    width: 75%;
    font-size: 80%;
  }
  .container.slide_right {
    left: 75%;
  }
  #main {
    font-size: 85%;
    padding: 20px 0;
  }
  #main article h1,
  #main article h2 {
    font-size: 141.66312499999998%;
    margin-bottom: 0.875em;
  }
  #main article.sticky {
    padding: 20px;
  }
  #main article.post {
    margin-bottom: 0;
  }
  #main article a.thumbnail img {
    width: 80px;
    height: auto;
  }
  #main article img.avatar {
    width: 30px;
  }
  #main article .writer img.avatar {
    width: 50px;
    height: 50px;
  }
  #main .postnav .prev,
  #main .postnav .next {
    width: 100%;
  }
  #main .postnav .prev a,
  #main .postnav .next a {
    display: block;
  }
  #main .postnav .prev {
    margin-bottom: 5px;
  }
  .col-sidebar {
    font-size: 106.25%;
    margin-bottom: 0.875em;
  }
  .col-sidebar section.widget {
    width: 100%;
  }
}
@media only screen and (max-width: 699px) {
  ol.commentlist ul.children {
    margin-left: 10px;
  }
  ol.commentlist li.comment.bypostauthor .reply,
  ol.commentlist li.trackback.bypostauthor .reply,
  ol.commentlist li.pingback.bypostauthor .reply,
  ol.commentlist li.comment .reply,
  ol.commentlist li.trackback .reply,
  ol.commentlist li.pingback .reply {
    position: relative;
    display: inline-block;
    top: auto;
    right: auto;
    margin-top: 5px;
  }
  ol.commentlist li.comment.bypostauthor .reply a,
  ol.commentlist li.trackback.bypostauthor .reply a,
  ol.commentlist li.pingback.bypostauthor .reply a,
  ol.commentlist li.comment .reply a,
  ol.commentlist li.trackback .reply a,
  ol.commentlist li.pingback .reply a {
    padding: 5px 10px;
    line-height: 1;
  }
  .jetpack-testimonial-shortcode .testimonial-entry {
    clear: both;
    padding: 0;
    margin-bottom: 3.5em;
    width: 100%;
    border: none;
  }
}
@media print {
  .masthead .branding,
  .main,
  .singular .main,
  .singular .main article,
  .main article {
    width: 100%;
  }
  nav,
  footer,
  .widget,
  .sharedaddy,
  a.post-edit-link,
  a#header-image,
  #respond,
  form.searchform,
  .social_links,
  .sidebar,
  .taxonomies,
  #bit.loggedout-follow-normal,
  .col-sidebar {
    display: none;
  }
  .main article {
    width: 100%;
  }
  a {
    color: #666666;
  }
  p a {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  p a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
  footer,
  .content-comments {
    page-break-before: always;
  }
}
