#adminmenu a.shomtek-logo{
    background: url(http://www.kms.qodr.or.id/wp-content/uploads/2020/logo_custom.png) no-repeat center center;
    background-size: 140px 140px;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    padding: 10px 10px;
    padding: 4px 16px;
    background: rgb(68, 68, 255);color: white; border-radius: 4px;
}

#adminmenu a.shomtek-logo div.wp-menu-name {
    display: none;
}